
$themes: (
  default: (
    /* font-size */
    font-size-default: 14px,
    font-size-lg: 16px,
    font-size-sm: 12px,

    /* Color */
    color-success: #13CE66,
    color-error: #FF4949,
    color-warning: #FFC82C,
    color-info: #007FFF,
    color-primary: #ffffff,
 
    // Text Color
    text-color-primary: #71777c,
 
    // Background Color
    bg-color-primary: #FFFFFF,

    // Hover Color
    hover-color-primary: #444,

    // Link Color
    link-color-primary: #007FFF,
 
    // Border Color
    borer-color-primary:  #0084ff,
  ),
 
  light: (
    /* font-size */
    font-size-default: 14px,
    font-size-lg: 16px,
    font-size-sm: 12px,
 
 
    color-white: #333333,
 
    /* Color */
    color-success: #13CE66,
    color-error: #FF4949,
    color-warning: #ec5f9a,
    color-info: #19ec11,
 
    // Text Color
    text-color-primary: #78A4FA,
    text-color-white: #ffffff,
    text-color-black: #000000,
    text-color-default: #4a4a4a,
    text-color-placeholder: #C9C9C9,
    text-color-disabled: #CCCCCC,
 
    // Background Color
    bg-color-primary: #ffffff,
    bg-color-primary-light: #1ac7c7,
    bg-color-white: #ffffff,
    bg-color-grey: #F7F7F7,
    bg-color-light: #ECF5FD,
    bg-color-verifycode: #cfcfcf,
 
    // Border Color
    borer-color-primary: #e64644,
    borer-color-primary-light: #dc2b34,
    borer-color-white: #ffffff,
    borer-color-default: #CCCCCC,
 
    // Link Color
    link-color-primary: #d91721,
    link-color-primary-light: #b51d29,
    link-color: #6190E8,
    link-color-light: #79A1EB,
    link-color-disabled: #BFBFBF,
 
    // Icon Color
    icon-color-base: #CCC,
  ),
);