@font-face {font-family: "icon";
  src: url('../fonts/iconfont.woff2?t=1627543720063') format('woff2'),
  url('../fonts/iconfont.woff?t=1627543720063') format('woff'),
  url('../fonts/iconfont.ttf?t=1627543720063') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e62d";
}
.icon-mask-home:before {
  content: "\e692";
}

.icon-group:before {
  content: "\e628";
}
.icon-mask-group:before {
  content: "\e68a";
}

.icon-address:before {
  content: "\e631";
}
.iconmask-address:before {
  content: "\e699";
}

.icon-del:before {
  content: "\e629";
}
.icon-setting:before {
  content: "\e62a";
}
.icon-search:before {
  content: "\e62f";
}
.icon-tianjiayonghu:before {
  content: "\e630";
}
.icon-update:before {
  content: "\e632";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-tip-sure:before {
  content: "\e727";
}
.icon-tip-danger:before {
  content: "\e728";
}

.icon-toward-top:before {
  content: "\e730";
}

.icon-toward-bottom:before {
  content: "\e731";
}

.icon-toward-right:before {
  content: "\e732";
}

.icon-toward-left:before {
  content: "\e734";
}


.icon-border-close:before {
  content: "\e66c";
}
.icon-toward-close:before {
  content: "\e733";
}

.icon-admin-user:before {
  content: "\e617";
}
.icon-admin-pasd:before {
  content: "\e611";
}
.icon-admin-youxiang:before {
  content: "\e63e";
}
.icon-mask-close:before {
  content: "\e614";
}